* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#tetris {
    border: 1px solid black;
    background-color: #708090;
}

.canvasContainer {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvasContainer > button {
    margin-right: 10vw;
}



